/.idea/workspace.xml
/__pycache__/card.cpython-36.pyc
/__pycache__/initdialog.cpython-36.pyc
/__pycache__/mainwindow.cpython-36.pyc
/__pycache__/player.cpython-36.pyc
/__pycache__/statusgame.cpython-36.pyc
/.idea/workspace.xml
/.idea/CardGameThousand.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
.spyproject
__pycache__
/.idea/vcs.xml
build
dist
*.spec
*.vs
*.log
*.csv
*.h5
*.xlsx
session_*
/sessions
env/*
.vscode
.ipynb_checkpoints/Lab. 6-checkpoint.ipynb
backup.zip
Lab. 6.ipynb
backup
